:root {
  --first-color-1: linear-gradient(135deg, #494A4D 0%, #3e3f42 100%);
  --background-image:  radial-gradient(circle at center center, transparent,rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 2px,transparent 2px, transparent 10px,rgb(33,33,33) 10px, rgb(33,33,33) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(47,47,47) 0px, rgb(47,47,47) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
  --first-color-2: #353538 ;
  --second-color-1: #007bff ;
  --second-color-2: #0056b3;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: var(--background-image);
    color: #f5f6f7;
    font-family: Arial, sans-serif;
    
  }


/*gallery*/
.gallery-container {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.mini-img-selector {
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid transparent;
  transition: all 0.3s ease;
  position: relative;
}

.mini-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.mini-img-selector:hover {
  border-color: var(--second-color-1);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px var(--second-color-2);
}

.mini-img-selector:hover .mini-img {
  transform: scale(1.1);
}

.main-img {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  grid-column: 1 / -1; /* Prend toute la largeur */
}

.big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.big-img:first-child {
  opacity: 1;
}

.mini-img-selector:nth-child(1):hover ~ .main-img .big-img:nth-child(1),
.mini-img-selector:nth-child(2):hover ~ .main-img .big-img:nth-child(2),
.mini-img-selector:nth-child(3):hover ~ .main-img .big-img:nth-child(3),
.mini-img-selector:nth-child(4):hover ~ .main-img .big-img:nth-child(4) {
  opacity: 1;
}


/*section cours coach*/

.s-cours-coach {
  margin-top: 100px;
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: all 0.5s ease;
}

.cours {
  height: 60vh;
  width: 45%;
  background-color: var(--second-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5%;

}

.coach {
  height: 60vh;
  width: 45%;
  background-color: var(--second-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cours, .coach {
  transition: all 0.7s ease;
}

.s-cours-coach:has(.cours:hover) .cours { width: 60%; }
.s-cours-coach:has(.cours:hover) .coach { width: 30%; }

.s-cours-coach:has(.coach:hover) .coach { width: 60%; }
.s-cours-coach:has(.coach:hover) .cours { width: 30%; }

